{% assign number_of_days_in_advance = number_of_days_in_advance | default: 60 %}

<div class="content-panel panel panel-default">
	<div class="panel-heading">
		{% assign sitemarker = sitemarkers["Events"] %}
		{% if sitemarker %}
		<a class="pull-right" href="{{ sitemarker.url | h }}">{{ snippets['Home All Events Link Text'] | default: resx['Events_Upcoming_All_Events'] | h }}</a>
		{% endif %}
		<h4>
			<span class="fa fa-calendar" aria-hidden="true"></span>&nbsp;
			{% editable snippets 'Home Upcoming Events Heading' type: 'text', tag: 'span', default: resx['Events_Upcoming'] %}
		</h4>
	</div>
	<ul class="list-group">
		{% assign today = now | date: 'yyyy-MM-dd' %}
		{% assign advance_date = now | date_add_days: number_of_days_in_advance | date: 'yyyy-MM-dd' %}
		{% for occurrence in events.occurrences.from[today].to[advance_date] %}
		{% assign event = occurrence.event %}
		<li class="vevent list-group-item">
			<h4 class="list-group-item-heading">
				<a class="url summary" href="{{ occurrence.url | h }}">{{ event.adx_name | h }}</a>
			</h4>
			<div class="content-metadata">
				<abbr class="dtstart" title="">{{ occurrence.start_time | date: 'r' | h }}</abbr> &ndash; <abbr class="dtend" title="">{{ occurrence.end_time | date: 'r' | h }}</abbr>
			</div>
			<div class="list-group-item-text">
				{% editable event 'adx_summary' %}
			</div>
		</li>
		{% endfor %}
	</ul>
</div>