@using Adxstudio.Xrm.Resources
@{
		Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="refresh" content="30">
	<title>@ResourceManager.GetString("Provisioning_Title")</title>
	@Styles.Render("~/css/bootstrap.min.css")
	@Styles.Render("~/Areas/setup/css/provisioning.css")
</head>
<body>
	<section class="container">
		<div class="row">
			<div class="col-xs-12">
				<span class="progress-spinner"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-11">
				<h2 class="main-header">
					@ResourceManager.GetString("Provisioning_Main_Header")
				</h2>
				<h5>
					@ResourceManager.GetString("Provisioning_Message")
				</h5>
			</div>
		</div>
	</section>
</body>
</html>
